.banner-main{
  background-color: $blue-bg;
  padding: 36px 0;

  &__swiper{
    margin-bottom: 30px;
  }

  &__link{
    text-decoration: none;
    width: 100%;
  }

  &__details{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;

    padding: 72px;

    &::before{
      content: "";
      position: absolute;
      width: 150%;
      height: 100%;
      overflow: hidden;
      transform: skew(-17deg);
      top: 0;
      left: -52%;
      z-index: -1;
      background-color: $yellow-dark;
    }
  }

  &__title{
    position: relative;
    z-index: 30;

    font-size: 40px;
    line-height: 44px;
    font-weight: 400;
    color: $black;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    max-width: 552px;
    margin-bottom: 36px;
  }

  &__description{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: $blue-dark-alt;
    z-index: 30;
  }

  &__image{
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
  }
}