.product-card{
  border: 1px solid rgba($blue, 0.2);
  border-radius: $border-radius;
  padding: 32px 32px 36px 32px;
  transition-duration: 0.2s;

  &:hover{
    border: 1px solid rgba($blue, 0.5);
  }

  &__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-duration: 0.2s;
    &:hover{
      scale: 1.1;
    }
  }

  &__detail{
    margin-bottom: 12px;
  }

  &__stars{

    svg{
      color: $yellow;
      margin-right: 8px;
    }

    span{
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #333333;
    }

    margin-bottom: 3px;
  }

  &__title{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $black;
    margin-bottom: 6px;
    text-decoration: none;
    transition-duration: 0.2s;
    &:hover{
      color: $blue;
    }
  }

  &__count{
    margin-bottom: 24px;

    span{
      color: $blue;
    }
  }

  &__price{
    span{
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      color: $black-80;
      text-decoration: line-through;
    }

    h4{
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      color: $black;
      margin: 0;
    }
  }

  &__footer{
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__button{
    @include button-main($button-height-alt);
    padding: 10px 20px;
    i{
      margin-right: 8px;
    }
  }

  &__icons{
    color: rgba($blue, 0.5);

    i{
      margin-right: 13px;
      cursor: pointer;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}