.modal-catalog {
  width: 100%;
  height: 100vh;

  position: fixed;

  z-index: 9991;
  background-color: $white;

  border-top: 1px solid rgba($blue, 0.1);

  .content {
    display: flex;
    gap: 32px;

    .chapter {
      border-right: 1px solid rgba($blue, 0.1);
      margin-right: 16px;
      min-width: 280px;
      width: 280px;
      padding: 32px 0;
      min-height: 100vh;

      .item {
        position: relative;

        &--active {
          background-color: rgba($blue, 0.1);
          border-right: 1px solid $blue;

          &:before {
            position: absolute;
            content: '';

            top: 0;
            left: -100vw;
            width: 100vw;

            height: 40px;
            background-color: rgba($blue, 0.1);
          }
        }

        @media (hover: hover) {
          &:hover {
            a {
              color: $blue;
            }
          }
        }
      }
    }

    .subsection {
      padding: 32px 0;

      .list {
        .item a:hover {
          color: $blue;
        }
      }
    }

    .item a {
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      text-decoration: none;
      color: $black;
    }
  }
}