@use "vars" as *;

@mixin flex-center{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin button-main($height){
  @include flex-center;

  border: none;
  background: $yellow;
  border-radius: $border-radius;
  height: $height;
  padding: 12px 20px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  transition-duration: 0.2s;

  text-decoration: none;

  &:hover{
    background: $yellow-dark;
  }
}


@mixin input-reset(){
  border: none;
  background-color: transparent;

  padding: 0;
  margin: 0;


  &:focus-visible{
    outline: 1px solid $blue-50;
  }
}

