$white: #fff;

$green: #34A853;

$red: #E31E24;
$strawberry: #FB6340;

$yellow: #FFD740;
$yellow-dark: #FFCA00;

$blue: #0E6CDD;
$blue-30: rgba(14, 108, 221, 0.3);
$blue-50: rgba(14, 108, 221, 0.5);

$blue-dark: #00479C;
$blue-search: #005CCC;

$blue-bg: #F1F6FD;


