.tabs{

  &__title{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    color: $black;
    margin-bottom: 16px;
  }

  &__list{
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__item{
    padding-inline: 16px;
    color: $black;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    border-radius: 6px;
    border: 1px solid rgba(14, 108, 221, 0.40);

    cursor: pointer;
  }
}