.header {

  &__inner{
    padding: 32px 40px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 16px;
    text-decoration: none;

    &-name {
      margin-top: 8px;

      p {
        color: $black;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        margin: 0;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: $black;
      }
    }

    svg {
      color: $blue;
    }
  }

  &__center {
    display: flex;
    column-gap: 24px;
    align-items: center;

    flex: 1;
    margin: 0 24px 0 32px;
  }

  &__button {
    @include button-main($button-height);
    min-width: 181px;
    width: 181px;

    i {
      color: $black;
      margin-right: 10px;
    }
  }

  &__search {
    width: 100%;
  }

  &__input {
    height: $button-height;
    border-radius: $border-radius;
    border: 2px solid $blue-30;
    padding: 0 20px;
    color: $blue-dark;
    width: 100%;


    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $blue-search;
      opacity: 0.7;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__login {
    @include flex-center;
    text-decoration: none;
    cursor: pointer;

    span {
      font-size: 14px;
      font-weight: 300;
    }

  }

  &__favourites {
    @include flex-center;
    text-decoration: none;

    span {
      font-size: 14px;
      font-weight: 400;
      color: $black;

    }
  }

  &__cart {
    @include flex-center;
    text-decoration: none;

    span {
      font-size: 14px;
      font-weight: 400;
      color: $black;

    }
  }

  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 54px;
  }

  &__link{
    text-decoration: none;
    color: $blue-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

}

i {
  color: $blue;
  margin-right: 16px;
}